<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  


 

 
</div>
 <div  id="map" style = "width:100%; height:50% ;"></div>    
	
<footer>
<div id="lglt">(default is UTC)</div>
 <div id ="doset" ng-app="myApp" ng-controller="Tapp"> 

	<p>{{CurrentHours }} : {{CurrentMinutes}} : {{CurrentSeconds}} {{AMPM}}</p>
	
</div>

</footer>
    <script>
	var ws = new WebSocket("ws://localhost:8888/ws");

	

function initMap() {

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: 40.748817, lng: -73.985428 }
  });
	
  map.addListener('click', function(e) {
    Markit(e.latLng, map);
	document.getElementById("lglt").innerHTML = e.latLng.lat() + ',' + e.latLng.lng();
	ws.send(e.latLng.lat() + ',' + e.latLng.lng());
	angular.element(document.getElementById('doset')).scope().updateMap(e.latLng.lat(),e.latLng.lng());
	

	
  });
}

function Markit(latLng, map) {
  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });



}

//var sendmsg = false;
var app = angular.module('myApp', []);
app.controller('Tapp',function($scope, $timeout,$window,$http) {
 $scope.CurrentSeconds 
 $scope.CurrentHours
 $scope.hroff;
 $scope.CurrentMinutes
 $scope.minoff;
 $scope.AMPM;
 $scope.xhr;
 $scope.AMPMoff;
$scope.sendmsg = false;
$scope.updateMap = function($lattt, $longgg){


  $http.get("http://api.geonames.org/timezoneJSON?lat="+ $lattt + "&lng="+ $longgg +"&username=tempuname")
  .then(function(response) {
	$scope.sendmsg = true;
      $scope.myWelcome = response.data;
	  $scope.totall = response.data;
	  $scope.hroff = Math.floor(($scope.totall)['dstOffset']);
	  $scope.minoff = (($scope.totall)['dstOffset'] - Math.floor(($scope.totall)['dstOffset'])) * 60;

  });
  }
    
    $scope.tickInterval = 1000 
	var xdate = new Date();
    var tick = function() {
		xdate = new Date();
        $scope.clock = xdate; 
		$scope.AMPM = "AM"
		if(!(angular.isNumber($scope.hroff))){
			$scope.hroff = 0;
		}
		if(!(angular.isNumber($scope.minoff))){
			$scope.minoff = 0;
		
		}
		$scope.xhr = xdate.getUTCHours();
		$scope.CurrentHours = xdate.getUTCHours() + $scope.hroff;
		$scope.CurrentMinutes = xdate.getUTCMinutes() + $scope.minoff;
		if($scope.CurrentMinutes >= 60){
			$scope.CurrentHours = $scope.CurrentHours + 1;
			$scope.CurrentMinutes = $scope.CurrentMinutes - 60;
			}
		$scope.AMPMoff = Math.floor($scope.CurrentHours/12);
		
					
		if($scope.AMPMoff % 2 != 0){
			$scope.AMPM = "PM"
			//$scope.CurrentHours = $scope.CurrentHours - 12;
			}
		$scope.CurrentHours = $scope.CurrentHours % 12;		
		if($scope.CurrentHours == 0){
			$scope.CurrentHours = 12;
		}
		if($scope.CurrentMinutes < 10){
		$scope.CurrentMinutes = "0" + $scope.CurrentMinutes;
		}
		
		$scope.CurrentSeconds = xdate.getUTCSeconds();
		
		if($scope.CurrentSeconds < 10){
		$scope.CurrentSeconds = "0" + $scope.CurrentSeconds;
		}
	
		
		
			
			
			 $timeout(tick, $scope.tickInterval).then(function(){
				if($scope.sendmsg == true){
				$window.ws.send($scope.CurrentHours + " : " + $scope.CurrentMinutes + " : " +$scope.CurrentSeconds + " " + $scope.AMPM);
				$scope.sendmsg = false;
				}
			 }); 
			
			
       
    }


    tick();
});

	
    </script>
	
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE&callback=initMap"
    async defer></script>
  </body>
 
</html>
